.Carousel {
  display: flex;
  margin-left: 300px;
  margin-top: -350px;
}

.NftImages {
  height: 25em;
  width: 20em;
  object-fit: cover;
  box-shadow: 1.5em 1.5em 0.9em gray;
}

.RightArrow {
  color: rgb(58, 23, 17);
  opacity: 0.7;
  position: relative;
  font-size: 3em;
  user-select: none;
  bottom: -3em;
  left: 6.55em;
}

.LeftArrow {
  color: rgb(58, 23, 17);
  position: relative;
  font-size: 3em;
  user-select: none;
  opacity: 0.7;
  top: 2.97em;
  left: 2.1em;
}
.ActiveSlide {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
