.Gallery {
  margin-left: 800px;
  margin-top: -300px;
  box-shadow: 1.5em 1.5em 0.5em gray;
  display: grid;
  height: 300px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 1fr 1fr 1fr;
  grid-template-areas:
    "card1 card2 smallcard1"
    "card1 card2 smallcard2";
}

.Card1 {
  grid-area: card1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.Card2 {
  grid-area: card2;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.SmallCard1 {
  grid-area: smallcard1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.SmallCard2 {
  grid-area: smallcard2;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
