.Gallery {
  display: grid;
  margin-left: 800px;
  margin-top: -300px;
  height: 18.75em;
  width: 31.25em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 9.25em 9.25em);
  row-gap: 0.2em;
  column-gap: 0.2em;
  grid-template-areas:
    "card1 card2 smallcard1"
    "card1 card2 smallcard2";
}

.Card1 {
  grid-area: card1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.Card2 {
  grid-area: card2;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.SmallCard1 {
  grid-area: smallcard1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.SmallCard2 {
  grid-area: smallcard2;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
